body{
background-color: rgb(224, 96, 118);
}


.section{

  background-color: rgb(255, 239, 239);
  color:rgb(218, 111, 129);
  width: 300px;
  height: 80px;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  font-style: solid;
  margin-left: 60px;
  padding-top:25px;
  border-radius: 8px;
  

}

.section-container{

  display: flex;
  align-items: center;
  justify-content: center;
}










* {
  box-sizing: border-box;
}

body {
      margin: 0;
    }


.box {
 width: 100%;
 overflow: hidden;
  

}

.box-images{
 display: flex;
      gap: 20px;
      width: max-content;
animation: scrollImages 10s linear infinite;
}

.box-images img {
  width: 300px;
  height: 200px;
  object-fit: cover;
 
}


.box-images:hover{

  animation-play-state: paused;
}


@keyframes scrollImages {
      from {
        transform: translateX(0);
      }

      to {
        transform: translateX(-600px);
      }
    }




    /*section 2*/



    .grid{
  background-color: white;
  
  text-align: center;
  display: flex;
     justify-content: center;
     align-items: center;

}



.grid-container{

    display: grid;
   grid-auto-columns:200px ;
   grid-auto-rows:200px;
   grid-template-areas: "box-1 box-4 box-4 box-7" 
   "box-1 box-5 box-8 box-8" 
   "box-2 box-6 box-6 box-9" 
   "box-3 box-3 box-3 box-9";
   column-gap: 10px;
   row-gap: 10px;
   justify-content: center;
   align-content: center;
   
}


@media(max-width:700px){
    .grid-container{
     grid-template-areas: 
  "box-1 box-1 box-2 box-3"
  "box-1 box-1 box-4 box-5"
  "box-6 box-7 box-7 box-5"
  "box-8 box-9 box-9 box-5";
    }


}

.grid-main{
   background-image: linear-gradient(to top right, pink, white);


}



/*BUTTONS*/

.button{

    width: 100%;
  min-height: 100vh;
  
  display: grid;
  grid-template-columns:200px 200px;
  grid-template-rows:100px 100px ;
  gap: 100px;
  justify-content: center;
  align-content: center;
}

.button-1{
 background-color: rgb(255, 80, 109);
 color: white;
 border-width: 0;
 border-radius: 5px;
 width: 200px;
 height: 80px;

}

.button-2{
 background-color: rgb(255, 80, 109);
 color: white;
 border-width: 0;
 border-radius: 5px;
 width: 200px;
 height: 80px;
  box-shadow: 5px 5px 2px rgba(0,0,0,0.2);


}



.button-3{
 background-color: rgb(255, 80, 109);
 color: white;
 border-width: 0;
 border-radius: 5px;
 width: 200px;
 height: 80px;

}

.button-4{
 background-color: rgb(255, 80, 109);
 color: white;
 border-width: 0;
 border-radius: 5px;
 width: 200px;
 height: 80px;

}

.button-1:hover{
box-shadow: 10px 10px 3px rgba(0,0,0,0.2);
}




.button-2:hover{
 
    animation: float 0.5s ease-in-out infinite ;

}


@keyframes float{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-8px);
    }
}



.button-3:hover{
 
background-image: linear-gradient(to bottom, rgb(255, 80, 109) 50%, rgb(245, 36, 71) 50%);

}


.button-4:active{
animation: rotate 0.5s ease-out 1;

}


@keyframes rotate{
   
    from{transform: rotate(0);}
     to  { transform: rotate(180deg);}
    
}