.header{
 background-color: white;
 margin-top: 8px;
 margin-bottom: 7px;
 border-radius: 8px;
 border-top-width: 10px;
 border-top-style: solid ;
 border-top-color: grey;
 padding-top: 20px;
  padding-bottom:20px ;
 padding-left: 20px;
 padding-right: 20px;

}




.wedding {
   font-weight: 500;
   
   font-size: 30px;
   color: black;
   margin-bottom: 5px;
   padding-bottom: 8px;
  border-bottom-width: 1px;
   border-bottom-color:lightgrey ;
   border-bottom-style: solid;
  
}
 .form-text{
   font-size: 16px;
   color: rgb(130, 124, 124);
   
   
   margin-bottom: 0;
}

label{
   display: block;
   padding-left: 10px;
  margin-bottom: 5px;
  margin-top: 8px;
  padding: 7px;
}


.form-section, .form-section5{
  background-color: white;
  border-radius: 8px;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom:20px ;
  margin-bottom: 7px;
 padding-left: 20px;
 padding-right: 20px;
}

.confirmation {
padding-left: 10px;
margin-top: 5px;


}

.form-section5{
 
padding-top: 30px;
  padding-bottom:30px ;
  
 padding-left: 30px;
 padding-right: 30px;
}

.form-section2, .form-section3, .form-section4{
  background-color: white;
  border-radius: 8px;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom:20px ;
padding-left: 20px;
 padding-right: 20px;
}

.form-section2, .form-section3, .form-section4{
   margin-bottom: 7px;
}

.name-input, .email-input, .number-input{
   border: none;
border-bottom: 2px solid rgb(109, 104, 104);
width: 370px;
height: 40px;
background-color:rgb(251, 247, 247) ;
outline: none;
opacity: 0.3;
transition: opacity 0.2s;
}

.name-input:hover, .email-input:hover, .number-input:hover{
 opacity: 0.8;

}

.submit{
   width: 100px;
   height: 40px;
 background-color: rgb(190, 167, 35);
font-size: 15px;
border-radius: 2px;
border:none;
cursor: pointer;
position: relative;
opacity:1;
transition: opacity 0.2s;
}


.submit:hover{ 
   opacity:0.9 ;
}


.submit .submission{
   position:absolute;
   background-color: rgb(229, 227, 86);
   color:rgb(0, 0, 0);
   padding: 40px 50px 40px 50px;
   border-radius: 5px;
   font-size: 40px ;
   top: -500px;
   left: 150px;
   opacity: 0;
   transition: opacity 0.15s;
   white-space: nowrap;
   pointer-events: none;

}

.submit:hover .submission{
   opacity: 1;
}

